@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#tentacles {
    width: 50px;
}

.header {
    background-color: #1c2b39;
    color: white;
    padding: 1%;
    display: flex;
    align-items: center;
}
.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.header-text {
    margin-left: 10px;
    font-size: 24px;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    transition: box-shadow 0.3s ease;
}

.game-card:hover {
    box-shadow: 0 0 10px #1c2b39;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #1c2b39;
    color: white;
}
button:hover {
    background-color: #3a4f63;
}

.our-games-nav{
  margin-left: auto;
  font-size:x-large;
  font-size: larger;
    padding: 10px;
  
}
.our-games-nav a{ 
    text-decoration: none;
    color: #1c2b39;
    background-color: #a8b0bc;
    padding: 5px 10px;
    border-radius: 5px;
}
.our-games-nav a:hover {
    color: white;
}

#search-bar {
    margin-left: 20px;
    font-size: 16px;
    padding: 6px;
}