@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #758190;
}

#tentacles {
  width: 50px;
}

html {
  scroll-behavior: smooth;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-right: 10%;
  margin-left: 10px;
}

input {
  font-size: 1rem;
  border-radius: 10px;
  height: 1.75rem;
  width: 15rem;
}

#gameSection-btn {
  width: 8rem;
  height: 5rem;
  background-color: antiquewhite;
  font-size: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.active {
  color: rgba(255, 0, 0, 1);
  opacity: 1;
}

.hidden {
    display: none!important;
}

.flashAnimation {
    animation: flash linear 0.7s 4;
}
.section-header {
  color: rgba(102, 0, 255, 0.95);
  text-align: center;
}

.sub-section-header {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText-wrapper {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 1%;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.info-color-label {
  border: 5px solid yellowgreen;
  background-color: #a8b0bc;
  width: 8rem;
  height: 6rem;
}
.stats-container:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

.unfunded-game-color {
  border: 5px solid red;
}

.funded-game-color {
  border: 5px solid green;
}
#first-game {
  border: 5px dotted gold;
}
#first-game:hover {
  animation: flash linear 0.7s infinite;
}

#second-game {
  border: 5px dotted silver;
}
#second-game:hover {
  animation: flash linear 0.7s infinite;
}

.stats-container {
  display: flex;
  align-items: center;
}

.changeColor {
  animation: colorChange 5s infinite;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

.stats-card:hover {
  animation: shakeobj 0.2s infinite;
}

.support-btn {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px; 
  background:rgba(12, 180, 251, 0.546)!important;
  padding: 10px 60px;
  background: #ffffff;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.support-tab {
  position: fixed;
  background: #cad5e5 ;
  top: 8rem;
  left: 25%;
  width: 50%;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 0 0 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f111f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
#support-game-label {
    text-align: center;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
@keyframes shakeobj {
  0% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  15% {
    transform: translate(-3px, -1px) rotate(3deg);
  }
  30% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  45% {
    transform: translate(1px, 3px) rotate(0deg);
  }
  60% {
    transform: translate(-1px, -2px) rotate(-3deg);
  }
  75% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(2deg);
  }
  90% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: cadetblue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: deeppink;
  }
  90% {
    color: dodgerblue;
  }
  100% {
    color: orange;
  }
}
#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px pink;
}

#button-container {
  text-align: center;
}

#description-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}


