@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
    background-color: #758190;
}

.spacing{
    padding: 12px;
}

html{
    scroll-behavior: smooth;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 1% 2%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.header__left{
    display: flex;
}

.game__section--navLink{
    text-decoration: none;
    transition: all 0.3s ease;
}

.game__section--navLink:hover{
    color: #7d1dd6;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stats-container:hover{
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

button:active{
    transform: scale(0.94)
}

.game__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8c2;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 8px;
    font-weight: bold;
    margin: 30px 0px;
}

input{
    padding: 16px 8px;
    outline: none;
    border-radius: 6px;
    border: none;
    background-color: lightblue;
}



input::placeholder{
    color: #333;
}

footer{
    text-align: center;
    background-color: lightblue;
    margin-top: auto;
}