@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-image: linear-gradient(to right, #295182, #36577f);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-image: linear-gradient(rgb(29, 86, 105), rgb(10, 58, 74));
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    position: sticky;
    position: -webkit-sticky;
    top: -40px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-tags {
    display: inline-flex;
    list-style: none;
}

.nav-list {
    padding: 20px;
    font-size: large;
}

.intext-link {
    text-decoration: none;
    border: 1px solid rgba(157, 203, 218, 0);
    color: rgb(33, 33, 186);
}

.intext-link:hover {
    border-width: 3px;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}